<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainDAO">

    <select id="selCommCode" parameterType="hashmap" resultType="hashmap">
        SELECT * FROM TB_COMM_CODE
        WHERE 1 = 1
        <if test="code != null and code != ''">
            AND CODE = #{code}
        </if>
    </select>

    <select id="selMember" parameterType="hashmap" resultType="hashmap">
        SELECT * FROM TB_MEMBER
        WHERE 1 = 1
        <if test="customer_link_number != null and customer_link_number != ''">
            AND CUSTOMER_LINK_NUMBER = #{customer_link_number}
        </if>
        <if test="sns_key != null and sns_key != ''">
            AND SNS_KEY = #{sns_key}
        </if>
        <if test="product_serial_number != null and product_serial_number != ''">
            AND PRODUCT_SERIAL_NUMBER = #{product_serial_number}
        </if>
    </select>

    <select id="selIotProdtAuth" parameterType="hashmap" resultType="hashmap">
        SELECT * FROM TB_IOT_PRDCT_AUTH
        WHERE 1 = 1
        <if test="product_serial_number != null and product_serial_number != ''">
            AND PRODUCT_SERIAL_NUMBER = #{product_serial_number}
        </if>
    </select>

    <select id="selInputData" parameterType="hashmap" resultType="hashmap">
        SELECT *
        FROM TB_INPUT_DATA_2023
        WHERE 1 = 1
        <if test="product_serial_number != null and product_serial_number != ''">
            AND PRODUCT_SERIAL_NUMBER = #{product_serial_number}
        </if>
        <if test="srt_date_time != null and srt_date_time != ''">
            <if test="end_date_time != null and end_date_time != ''">
                AND DATE_TIME BETWEEN #{srt_date_time} AND #{end_date_time}
            </if>
        </if>
    </select>

    <select id="selOutputData" parameterType="hashmap" resultType="hashmap">
        SELECT *
        FROM TB_OUTPUT_DATA_2023
        WHERE 1 = 1
        <if test="customer_link_number != null and customer_link_number != ''">
            AND CUSTOMER_LINK_NUMBER = #{customer_link_number}
        </if>
        <if test="srt_date_time != null and srt_date_time != ''">
            <if test="end_date_time != null and end_date_time != ''">
                AND DATE_TIME BETWEEN #{srt_date_time} AND #{end_date_time}
            </if>
        </if>
    </select>

    <select id="selOutputStatData" parameterType="hashmap" resultType="hashmap">
        SELECT *
        FROM TB_OUTPUT_STAT_DATA_2023
        WHERE 1 = 1
        <if test="customer_link_number != null and customer_link_number != ''">
            AND CUSTOMER_LINK_NUMBER = #{customer_link_number}
        </if>
        <if test="srt_date_time != null and srt_date_time != ''">
            <if test="end_date_time != null and end_date_time != ''">
                AND DATE_TIME BETWEEN #{srt_date_time} AND #{end_date_time}
            </if>
        </if>
    </select>

    <select id="selKepProdtAuth" parameterType="hashmap" resultType="hashmap">
        SELECT * FROM TB_KEPCO_API_AUTH
        WHERE 1 = 1
        <if test="kepco_api_key != null and kepco_api_key != ''">
            AND KEPCO_API_KEY = #{kepco_api_key}
        </if>
    </select>

    <select id="selMsgInfo" parameterType="hashmap" resultType="hashmap">
        SELECT * FROM TB_MSG_INFO
        WHERE 1 = 1
        <if test="msg_code != null and msg_code != ''">
            AND MSG_CODE = #{msg_code}
        </if>
    </select>

    <select id="selSysInfo" parameterType="hashmap" resultType="hashmap">
        SELECT * FROM TB_SYS_INFO
        WHERE 1 = 1
        <if test="customer_link_number != null and customer_link_number != ''">
            AND CUSTOMER_LINK_NUMBER = #{customer_link_number}
        </if>
    </select>

    <insert id="insKepProdtAuth" parameterType="hashmap">
        INSERT INTO TB_KEPCO_API_AUTH
        SET KEPCO_API_KEY = #{kepco_api_key}
        <if test="auth_yn != null and auth_yn != ''">
            , AUTH_YN = #{auth_yn}
        </if>
        , MOD_DATE = NOW()
        , REG_DATE = NOW()
    </insert>

    <insert id="insTermsCond" parameterType="hashmap">
        INSERT INTO TB_TERMS_COND
        SET TERMS_CODE = #{terms_code}
        , CUSTOMER_LINK_NUMBER = #{customer_link_number}
        , TERMS_VERSION = #{terms_version}
        <if test="terms_cont != null and terms_cont != ''">
            , TERMS_CONT = #{TERMS_CONT}
        </if>
        <if test="agrtr_cndtn_yn != null and agrtr_cndtn_yn != ''">
            , AGRTR_CNDTN_YN = #{AGRTR_CNDTN_YN}
        </if>
        <if test="use_yn != null and use_yn != ''">
            , USE_YN = #{USE_YN}
        </if>
        , MOD_DATE = NOW()
        , REG_DATE = NOW()
    </insert>

    <insert id="insSysInfo" parameterType="hashmap">
        INSERT INTO TB_SYS_INFO SET
        CUSTOMER_LINK_NUMBER = #{customer_link_number}
        <if test="pwr_svn_trg != null">
            , PWR_SVN_TRG = #{pwr_svn_trg}
        </if>
        <if test="gas_svn_trg != null">
            , GAS_SVN_TRG = #{gas_svn_trg}
        </if>
        <if test="wtr_svn_trg != null">
            , WTR_SVN_TRG = #{wtr_svn_trg}
        </if>
        <if test="alarm_use_yn != null and alarm_use_yn != ''">
            , ALARM_USE_YN = #{alarm_use_yn}
        </if>
        <if test="alarm_sound_yn != null and use_yn != ''">
            , ALARM_SOUND_YN = #{alarm_sound_yn}
        </if>
        <if test="alarm_vbrtn_yn != null and alarm_vbrtn_yn != ''">
            , ALARM_VBRTN_YN = #{alarm_vbrtn_yn}
        </if>
        <if test="alarm_optm_yn != null and alarm_optm_yn != ''">
            , ALARM_OPTM_YN = #{alarm_optm_yn}
        </if>
        <if test="use_yn != null and use_yn != ''">
            , USE_YN = #{use_yn}
        </if>
        <if test="tmp != null and tmp != ''">
            , TMP = #{tmp}
        </if>
        <if test="tmp2 != null and tmp2 != ''">
            , TMP2 = #{tmp2}
        </if>
        <if test="tmp3 != null and tmp3 != ''">
            , TMP3 = #{tmp3}
        </if>
        <if test="tmp4 != null and tmp4 != ''">
            , TMP4 = #{tmp4}
        </if>
        <if test="tmp5 != null and tmp5 != ''">
            , TMP5 = #{tmp5}
        </if>
        <if test="tmp6 != null and tmp6 != ''">
            , TMP6 = #{tmp6}
        </if>
        <if test="tmp7 != null and tmp7 != ''">
            , TMP7 = #{tmp7}
        </if>
        <if test="tmp8 != null and tmp8 != ''">
            , TMP8 = #{tmp8}
        </if>
        <if test="tmp9 != null and tmp9 != ''">
            , TMP9 = #{tmp9}
        </if>
        <if test="tmp10 != null and tmp10 != ''">
            , TMP10 = #{tmp10}
        </if>
        , REG_DATE = NOW()
        , MOD_DATE = NOW()
    </insert>

    <insert id="insMember" parameterType="hashmap">
        INSERT INTO TB_MEMBER
        SET
        PRODUCT_SERIAL_NUMBER = #{product_serial_number}
        <if test="kepco_api_key != null and kepco_api_key != ''">
            , KEPCO_API_KEY = #{kepco_api_key}
        </if>
        <if test="sns_id != null and sns_id != ''">
            ,SNS_ID = #{sns_id}
        </if>
        <if test="sns_pwd != null and sns_pwd != ''">
            ,SNS_PWD = #{sns_pwd}
        </if>
        <if test="sns_key != null and sns_key != ''">
            , SNS_KEY = #{sns_key}
        </if>
        <if test="sns_type != null and sns_type != ''">
            ,SNS_TYPE = #{sns_type}
        </if>
        <if test="user_name != null and user_name != ''">
            ,USER_NAME = #{user_name}
        </if>
        <if test="phone_number != null and phone_number != ''">
            ,PHONE_NUMBER = #{phone_number}
        </if>
        <if test="zip_number != null and zip_number != ''">
            ,ZIP_NUMBER = #{zip_number}
        </if>
        <if test="addr != null and addr != ''">
            ,ADDR = #{addr}
        </if>
        <if test="addr_dtl != null and addr_dtl != ''">
            ,ADDR_DTL = #{addr_dtl}
        </if>
        <if test="lon != null and lon != ''">
            ,LON = #{lon}
        </if>
        <if test="lat != null and lat != ''">
            ,LAT = #{lat}
        </if>
        <if test="house_area != null and house_area != ''">
            ,HOUSE_AREA = #{house_area}
        </if>
        <if test="male_cnt != null and male_cnt != ''">
            ,MALE_CNT = #{male_cnt}
        </if>
        <if test="female_cnt != null and female_cnt != ''">
            ,FEMALE_CNT = #{female_cnt}
        </if>
        <if test="room_cnt != null and room_cnt != ''">
            ,ROOM_CNT = #{room_cnt}
        </if>
        <if test="tv_cnt != null and tv_cnt != ''">
            ,TV_CNT = #{tv_cnt}
        </if>
        <if test="air_conditioner_cnt != null and air_conditioner_cnt != ''">
            ,AIR_CONDITIONER_CNT = #{air_conditioner_cnt}
        </if>
        <if test="washing_machine_cnt != null and washing_machine_cnt != ''">
            ,WASHING_MACHINE_CNT = #{washing_machine_cnt}
        </if>
        <if test="dryer_cnt != null and dryer_cnt != ''">
            ,DRYER_CNT = #{dryer_cnt}
        </if>
        <if test="rice_cooker_cnt != null and rice_cooker_cnt != ''">
            ,RICE_COOKER_CNT = #{rice_cooker_cnt}
        </if>
        <if test="fan_cnt != null and fan_cnt != ''">
            ,FAN_CNT = #{fan_cnt}
        </if>
        <if test="disk_washer_cnt != null and disk_washer_cnt != ''">
            ,DISK_WASHER_CNT = #{disk_washer_cnt}
        </if>
        <if test="computer_cnt != null and computer_cnt != ''">
            ,COMPUTER_CNT = #{computer_cnt}
        </if>
        <if test="use_yn != null and use_yn != ''">
            ,USE_YN = #{use_yn}
        </if>
        ,MOD_DATE = NOW()
        ,REG_DATE = NOW()
    </insert>

    <insert id="insIotProdtAuth" parameterType="hashmap">
        INSERT INTO TB_IOT_PRDCT_AUTH
        SET PRODUCT_SERIAL_NUMBER = #{product_serial_number}
        <if test="auth_yn != null and auth_yn != ''">
            , AUTH_YN = #{auth_yn}
        </if>
        <if test="use_yn != null and use_yn != ''">
            , USE_YN = #{use_yn}
        </if>
        , MOD_DATE = NOW()
        , REG_DATE = NOW()
    </insert>

    <update id="updMember" parameterType="hashmap">
        UPDATE TB_MEMBER
        SET MOD_DATE = NOW()
        <if test="kepco_api_key != null and kepco_api_key != ''">
            , KEPCO_API_KEY = #{kepco_api_key}
        </if>
        <if test="product_serial_number != null and product_serial_number != ''">
            , PRODUCT_SERIAL_NUMBER = #{product_serial_number}
        </if>
        <if test="sns_id != null and sns_id != ''">
            ,SNS_ID = #{sns_id}
        </if>
        <if test="sns_pwd != null and sns_pwd != ''">
            ,SNS_PWD = #{sns_pwd}
        </if>
        <if test="sns_type != null and sns_type != ''">
            ,SNS_TYPE = #{sns_type}
        </if>
        <if test="user_name != null and user_name != ''">
            ,USER_NAME = #{user_name}
        </if>
        <if test="phone_number != null and phone_number != ''">
            ,PHONE_NUMBER = #{phone_number}
        </if>
        <if test="zip_number != null and zip_number != ''">
            ,ZIP_NUMBER = #{zip_number}
        </if>
        <if test="addr != null and addr != ''">
            ,ADDR = #{addr}
        </if>
        <if test="addr_dtl != null and addr_dtl != ''">
            ,ADDR_DTL = #{addr_dtl}
        </if>
        <if test="lon != null and lon != ''">
            ,LON = #{lon}
        </if>
        <if test="lat != null and lat != ''">
            ,LAT = #{lat}
        </if>
        <if test="house_area != null and house_area != ''">
            ,HOUSE_AREA = #{house_area}
        </if>
        <if test="male_cnt != null and male_cnt != ''">
            ,MALE_CNT = #{male_cnt}
        </if>
        <if test="female_cnt != null and female_cnt != ''">
            ,FEMALE_CNT = #{female_cnt}
        </if>
        <if test="room_cnt != null and room_cnt != ''">
            ,ROOM_CNT = #{room_cnt}
        </if>
        <if test="tv_cnt != null and tv_cnt != ''">
            ,TV_CNT = #{tv_cnt}
        </if>
        <if test="air_conditioner_cnt != null and air_conditioner_cnt != ''">
            ,AIR_CONDITIONER_CNT = #{air_conditioner_cnt}
        </if>
        <if test="washing_machine_cnt != null and washing_machine_cnt != ''">
            ,WASHING_MACHINE_CNT = #{washing_machine_cnt}
        </if>
        <if test="dryer_cnt != null and dryer_cnt != ''">
            ,DRYER_CNT = #{dryer_cnt}
        </if>
        <if test="rice_cooker_cnt != null and rice_cooker_cnt != ''">
            ,RICE_COOKER_CNT = #{rice_cooker_cnt}
        </if>
        <if test="fan_cnt != null and fan_cnt != ''">
            ,FAN_CNT = #{fan_cnt}
        </if>
        <if test="disk_washer_cnt != null and disk_washer_cnt != ''">
            ,DISK_WASHER_CNT = #{disk_washer_cnt}
        </if>
        <if test="computer_cnt != null and computer_cnt != ''">
            ,COMPUTER_CNT = #{computer_cnt}
        </if>
        <if test="use_yn != null and use_yn != ''">
            ,USE_YN = #{use_yn}
        </if>
        WHERE 1 = 1
        <if test="customer_link_number != null and customer_link_number != ''">
            AND CUSTOMER_LINK_NUMBER = #{customer_link_number}
        </if>
        <if test="sns_key != null and sns_key != ''">
            AND SNS_KEY = #{sns_key}
        </if>
        <if test="product_serial_number != null and product_serial_number != ''">
            AND PRODUCT_SERIAL_NUMBER = #{product_serial_number}
        </if>
    </update>

    <update id="updSysInfo" parameterType="hashmap">
        UPDATE TB_SYS_INFO SET
        MOD_DATE = NOW()
        <if test="pwr_svn_trg != null and pwr_svn_trg != ''">
            , PWR_SVN_TRG = #{pwr_svn_trg}
        </if>
        <if test="gas_svn_trg != null and gas_svn_trg != ''">
            , GAS_SVN_TRG = #{gas_svn_trg}
        </if>
        <if test="wtr_svn_trg != null and wtr_svn_trg != ''">
            , WTR_SVN_TRG = #{wtr_svn_trg}
        </if>
        <if test="alarm_use_yn != null and alarm_use_yn != ''">
            , ALARM_USE_YN = #{alarm_use_yn}
        </if>
        <if test="alarm_sound_yn != null and use_yn != ''">
            , ALARM_SOUND_YN = #{alarm_sound_yn}
        </if>
        <if test="alarm_vbrtn_yn != null and alarm_vbrtn_yn != ''">
            , ALARM_VBRTN_YN = #{alarm_vbrtn_yn}
        </if>
        <if test="alarm_optm_yn != null and alarm_optm_yn != ''">
            , ALARM_OPTM_YN = #{alarm_optm_yn}
        </if>
        <if test="use_yn != null and use_yn != ''">
            , USE_YN = #{use_yn}
        </if>
        <if test="tmp != null and tmp != ''">
            , TMP = #{tmp}
        </if>
        <if test="tmp2 != null and tmp2 != ''">
            , TMP2 = #{tmp2}
        </if>
        <if test="tmp3 != null and tmp3 != ''">
            , TMP3 = #{tmp3}
        </if>
        <if test="tmp4 != null and tmp4 != ''">
            , TMP4 = #{tmp4}
        </if>
        <if test="tmp5 != null and tmp5 != ''">
            , TMP5 = #{tmp5}
        </if>
        <if test="tmp6 != null and tmp6 != ''">
            , TMP6 = #{tmp6}
        </if>
        <if test="tmp7 != null and tmp7 != ''">
            , TMP7 = #{tmp7}
        </if>
        <if test="tmp8 != null and tmp8 != ''">
            , TMP8 = #{tmp8}
        </if>
        <if test="tmp9 != null and tmp9 != ''">
            , TMP9 = #{tmp9}
        </if>
        <if test="tmp10 != null and tmp10 != ''">
            , TMP10 = #{tmp10}
        </if>
        WHERE 1 = 1
        <if test="customer_link_number != null and customer_link_number != ''">
            AND CUSTOMER_LINK_NUMBER = #{customer_link_number}
        </if>
    </update>

    <update id="updTermsCond" parameterType="hashmap">
        UPDATE TB_TERMS_COND SET
        MOD_DATE = NOW()
        <if test="terms_version != null and terms_version != ''">
            , TERMS_VERSION = #{terms_version}
        </if>
        <if test="terms_cont != null and terms_cont != ''">
            , TERMS_CONT = #{terms_cont}
        </if>
        <if test="agrtr_cndtn_yn != null and agrtr_cndtn_yn != ''">
            , AGRTR_CNDTN_YN = #{agrtr_cndtn_yn}
        </if>
        <if test="use_yn != null and use_yn != ''">
            , USE_YN = #{use_yn}
        </if>
        WHERE 1 = 1
        <if test="customer_link_number != null and customer_link_number != ''">
            AND CUSTOMER_LINK_NUMBER = #{customer_link_number}
        </if>
        <if test="terms_code != null and terms_code != ''">
            AND TERMS_CODE = #{terms_code}
        </if>
    </update>
</mapper>