<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="filePath" source="logging.file.path"/>
    <property name="defaultPattern" value="[%d{HH:mm:ss.SSS}] [%-5level] [%logger.%method:%line] - %msg%n"/>

<!--    <property name="levelConsole" value="info"/>-->
    <property name="levelConsole" value="error"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${defaultPattern}</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${filePath}/solarmy-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover with month folders -->
            <fileNamePattern>${filePath}/%d{yyyy/MM}/solarmy-api.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${defaultPattern}</Pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="${levelConsole}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APP_FILE"/>
    </root>
</configuration>
